<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title on Gyfto</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="//use.typekit.net/ita4bwu.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
</head>
<body>
    <div class="topSection">
        <div class="topSectionContentArea">
            <div class="topSectionTitle">Gyfto</div>
            @*  ASSUMING USER IS LOGGED IN *@
            <div class="topSection_UserContext">
                <table>
                    <tr>
                        <td><div class="topSection_ListMetrics"><a href="/list/userlists#YourLists">12 Lists</a> | <a href="/list/userlists#YourShares">4 Shares</a></div></td>
                        <td>
                            <div class="avatar">
                                <img src="http://profile.ak.fbcdn.net/hprofile-ak-ash4/371867_543098775_943098876_q.jpg" height="40px" alt="" />
                            </div>
                        </td>
                    </tr>
                </table>
                
                
            </div>
        </div>
    </div>
    <div class="mainContentArea">
        <div class="renderBody">
            @RenderBody()
        </div>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
</body>
</html>
