@model GyftoList.API.Translations.API_List

@{
    ViewBag.Title = Model.ListName;
    Layout = "~/Views/Shared/_GyftoLayout2.cshtml";
}

<div class="sectionTitle">
    <h3>@Model.ListName</h3>
</div>
@foreach(var i in Model.Items.Where(i => i.Active == true))
  {

<div class="listContainer" id="@i.PublicKey">
    <input type="checkbox" />
    <div class="listContainerBlock">
        <h3>@i.Title</h3>
        <p>@i.Description</p>
        <a href="javascript:flagItem('@i.PublicKey');">Got this</a>
    </div>
</div>
  }

<ul id="ulNonActiveItems">
@foreach (var i in Model.Items.Where(i => i.Active == false))
{
    <li style="text-decoration:line-through">@i.Title</li>
}
</ul>


<script lang="javascript" type="text/javascript">

    function flagItem(itemPublicKey)
    {
        alert("About to POST");
        $.ajax({
            type: 'GET',
            url: 'http://localhost:53386/api/ListItemActive/' + itemPublicKey,
            contentType: "application/json; charset=utf-8",
            dataType: 'jsonp',
            data: itemPublicKey,
        })
        .success(function (data) {
            alert(data);

        });
    }

</script>